.detail {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    border: 1px solid #ddd;
    margin-bottom: 100px;


    .detail-leftColumn {
        padding: 0 32px;
        border-right: 1px solid #ddd;

        .detail-picture {
            width: 100%;
        }
    }

    .detail-rightColumn {
        padding: 44px 32px;

        .detail-price {
            font-size: 44px;
            font-weight: 300;
            color: #333;
        }

        .detail-condition {
            font-size: 14px;
            margin-bottom: 6px;
            color: #666;
            font-weight: 300;
            text-transform: capitalize;
        }

        .detail-freeShipping {
            margin-top: 35px;
            text-align: center;
        }
    }

    .detail-description {
        padding: 32px;
        border-top: 1px solid #ddd;

        p {
            font-size: 20px;
            color: #333;
            font-weight: 300;
            word-wrap: break-word;
            white-space: -moz-pre-wrap;
            white-space: pre-wrap;
        }
    }
}