.listing {
    border-radius: 4px;
    margin-bottom: 50px;
    background-color: #fff;

    .listing-item {
        list-style: none;
        color: #333;
        padding: 24px;
        font-size: 20px;
        border-bottom: 1px solid #eee;

        a {
            display: flex;
            align-items: center;
            color: inherit;
            flex-direction: row;

            &:hover {
                text-decoration: none;
            }

            .listing-thumbnail {
                border-radius: 4px;
                height: 160px;
                margin-right: 24px;
                min-width: 160px;
                overflow: hidden;
                width: 160px;
                vertical-align: baseline;
            }

            .rightColumn {
                .listing-itemTitle {
                    font-weight: 300;
                }

                .listing-itemPrice {
                    font-weight: 400;
                }
            }
        }
    }
}